:root {
    --color-white: rgb(255, 255, 255);
    --color-purple: rgb(85, 64, 191);
    --color-black: rgb(51, 51, 51);
    --color-yellow: rgb(255, 209, 0);
    --color-gradient: linear-gradient(26.10deg, rgb(85, 64, 191) 23.706%, rgb(175, 161, 249) 99.741%);
    --color-backgroungImg: rgba(175, 161, 249, 0.3);

    --font-Montserrat: Montserrat;
    --font-OpenSans: Open Sans;
}