@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: rgb(255, 255, 255);
  --color-purple: rgb(85, 64, 191);
  --color-black: rgb(51, 51, 51);
  --color-yellow: rgb(255, 209, 0);
  --color-gradient: linear-gradient(26.10deg, rgb(85, 64, 191) 23.706%, rgb(175, 161, 249) 99.741%);
  --color-backgroungImg: rgba(175, 161, 249, 0.3);
  --font-Montserrat: Montserrat;
  --font-OpenSans: Open Sans;
}

body {
  background: var(--color-white);
  height: 100vh;
  margin: 0;
}

.first-block {
  background-image: var(--color-gradient);
  color: var(--color-white);
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.first-block__container {
  z-index: 2;
  max-width: 630px;
  margin: 145px auto 121px 172px;
}
.first-block__title {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  margin: 0 0 35px;
}
.first-block__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  max-width: 522px;
  margin: 0 0 65px;
}
.first-block__button {
  height: 50px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  width: 185px;
}
.first-block__light-button {
  background-color: var(--color-white);
  color: var(--color-purple);
  margin-right: 20px;
}
.first-block__dark-button {
  background-color: transparent;
  color: var(--color-white);
  outline: var(--color-white) 1px solid;
}
.first-block__tip {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-top: 18px;
  width: 467px;
}
.first-block__background-img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 965px;
  height: 965px;
  top: -378px;
  z-index: 1;
  left: -304px;
}
.first-block__background-img:nth-child(2), .first-block__background-img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 82px;
  height: 70px;
  top: 150px;
  z-index: 1;
}
.first-block__background-img:nth-child(2) {
  right: 598px;
}
.first-block__background-img:nth-child(3) {
  right: 498px;
}
.first-block__background-img:nth-child(4) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: 607px;
  z-index: 1;
  right: 359px;
}
.first-block__background-img:nth-child(5) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 121px;
  height: 121px;
  top: 280px;
  z-index: 1;
  right: 64px;
}
.first-block__background-img:nth-child(6) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 561px;
  height: 511px;
  top: 180px;
  z-index: 1;
  right: 89px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 76.11%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0 0;
}
.header__logo-place {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.header__li {
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.advantages {
  box-shadow: inset 0px 0px 280px 0px rgba(175, 161, 249, 0.3);
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 55px 0 25px;
  color: var(--color-white);
}
.advantages__container {
  display: block;
  text-align: center;
  width: 76.11%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.advantages__li {
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
  padding: 25px 50px;
  margin-bottom: 30px;
  border: 2px solid var(--color-white);
  border-radius: 100px;
}
.advantages__li:not(:nth-child(3n)) {
  margin-right: 20px;
}
.advantages__li:first-child {
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}

.second-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}
.second-block__light-background {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  row-gap: 307px;
  padding: 181px 0 369px;
  position: relative;
}
.second-block__light-background .second-block__background-img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 836.6px;
  height: 600px;
  top: 0px;
  transform: rotate(30deg);
  border-radius: 50px;
  background: var(--color-backgroungImg);
  left: -220px;
}
.second-block__light-background .second-block__background-img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 316px;
  height: 316px;
  top: 401px;
  left: 1px;
}
.second-block__light-background .second-block__background-img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 639.89px;
  height: 600px;
  top: 610px;
  transform: rotate(30deg);
  border-radius: 50px;
  background: var(--color-backgroungImg);
  right: -170px;
}
.second-block__light-background .second-block__background-img:nth-child(4) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 184px;
  height: 184px;
  top: 734px;
  right: 124px;
}
.second-block__light-background .second-block__background-img:nth-child(5) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: auto;
  bottom: 918px;
  left: 677px;
}
.second-block__light-background .second-block__background-img:nth-child(6) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1138px;
  height: 1138px;
  top: auto;
  left: -428px;
  bottom: -144px;
}
.second-block__light-background .second-block__background-img:nth-child(7) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: auto;
  left: 90px;
  bottom: 573px;
}
.second-block__light-background .second-block__background-img:nth-child(8) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 152px;
  height: 152px;
  top: auto;
  bottom: -54px;
  right: 56px;
}
.second-block__light-background .second-block__background-img:nth-child(9) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: 150px;
  left: 62px;
}
.second-block__light-background .second-block__background-img:nth-child(10) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 249px;
  height: 436px;
  top: 200.56px;
  left: 428px;
}
.second-block__light-background .second-block__background-img:nth-child(11) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: 780px;
  right: 135px;
}
.second-block__light-background .second-block__background-img:nth-child(12) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 480px;
  height: 344px;
  top: 910px;
  right: 60px;
}
.second-block__light-background .second-block__background-img:nth-child(13) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
  height: 410px;
  top: 1560px;
  left: 120px;
}
.second-block__light-background .second-block__background-img:nth-child(14) {
  background-image: url(../images/background/group-4.1.png);
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 245px;
  height: 464.52px;
  top: 1432px;
  left: 400px;
}
.second-block__dark-background {
  color: var(--color-white);
  background: linear-gradient(29.68deg, rgb(85, 64, 191) 35.529%, rgb(175, 161, 249) 99.59%);
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.second-block__dark-background .article {
  margin: 0 auto 0 172px;
}
.second-block__dark-background .second-block__background-img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 102px;
  top: auto;
  z-index: 1;
  bottom: 52px;
  right: 675px;
}
.second-block__dark-background .second-block__background-img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 588px;
  height: 455.26px;
  top: -42px;
  z-index: 1;
  right: 122px;
  box-shadow: 0px 0px 20px 0px rgba(85, 64, 191, 0.2);
}

.article {
  max-width: 630px;
  margin: 0 80px 0 auto;
}
.article:nth-child(even) {
  margin: 0 auto 0 172px;
}
.article__title {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 34px;
}
.article__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 522px;
  margin: 0 0 43px;
}
.article__button {
  height: 50px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 230px;
}
.article__light-button {
  background-color: var(--color-white);
  color: var(--color-purple);
  outline: var(--color-purple) 1px solid;
  width: 185px;
}
.article__dark-button {
  background-color: var(--color-purple);
  color: var(--color-white);
  margin-right: 20px;
  width: 185px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 76.11%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 69px 0 53px;
}
.footer__logo-place {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-purple);
  align-self: center;
  margin: 0;
}
.footer__container {
  text-align: right;
}
.footer__logo {
  width: 30px;
  height: 30px;
  margin-left: 18px;
}
.footer__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-purple);
  margin: 26px 0 0;
}/*# sourceMappingURL=styles.css.map */