@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: rgb(255, 255, 255);
  --color-purple: rgb(85, 64, 191);
  --color-black: rgb(51, 51, 51);
  --color-yellow: rgb(255, 209, 0);
  --color-gradient: linear-gradient(26.10deg, rgb(85, 64, 191) 23.706%, rgb(175, 161, 249) 99.741%);
  --color-backgroungImg: rgba(175, 161, 249, 0.3);
  --font-Montserrat: Montserrat;
  --font-OpenSans: Open Sans;
}

body {
  background: var(--color-white);
  height: 100vh;
  margin: 0;
}

.first-block {
  background-image: var(--color-gradient);
  color: var(--color-white);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.first-block__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first-block__background-img {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 965px;
  height: 965px;
  top: -658px;
  z-index: 1;
  left: -204px;
}
.first-block__images {
  position: relative;
  width: 539px;
  height: 501px;
  margin: 115px 89px 0 0;
}
.first-block__img:nth-child(1), .first-block__img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 82px;
  height: 70px;
  top: -30px;
  z-index: 1;
}
.first-block__img:nth-child(1) {
  left: -48px;
}
.first-block__img:nth-child(2) {
  left: 44px;
}
.first-block__img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: 427px;
  z-index: 1;
  right: 272px;
}
.first-block__img:nth-child(4) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 121px;
  height: 121px;
  top: 100px;
  z-index: 1;
  right: -27px;
}
.first-block__img:nth-child(5) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 561px;
  height: 511px;
  top: 0;
  z-index: 1;
  right: 0px;
}
.first-block__article {
  z-index: 2;
  max-width: 630px;
  margin: 145px 0 121px 172px;
}
.first-block__title {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  margin: 0 0 35px;
  width: -moz-fit-content;
  width: fit-content;
}
.first-block__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  max-width: 522px;
  margin: 0 0 65px;
}
.first-block__button {
  height: 50px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  width: 185px;
}
.first-block__button:hover {
  opacity: 0.85;
}
.first-block__light-button {
  background-color: var(--color-white);
  color: var(--color-purple);
  margin-right: 20px;
}
.first-block__dark-button {
  background-color: transparent;
  color: var(--color-white);
  outline: var(--color-white) 1px solid;
}
.first-block__tip {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-top: 18px;
  width: 467px;
}
@media screen and (max-width: 1330px) {
  .first-block__container {
    flex-direction: column-reverse;
    width: -moz-min-content;
    width: min-content;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .first-block__images, .first-block__article {
    margin: 25px 0 55px 0;
  }
  .first-block__article, .first-block__text, .first-block__tip {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .first-block__container {
    padding: 0;
  }
  .first-block__images {
    transform: scale(0.65);
    margin-top: -10px;
  }
  .first-block__article {
    width: 96%;
    margin-top: -80px;
  }
  .first-block__title {
    width: 95%;
    font-size: 4.5vw;
    line-height: 5vw;
    margin-bottom: 10px;
  }
  .first-block__text, .first-block__tip {
    width: 85%;
    margin: 20px auto 35px;
    font-size: 3vw;
    line-height: 3.3vw;
  }
}
@media screen and (max-width: 410px) {
  .first-block__images-container {
    transform: scale(0.6);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 76.11%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0 0;
}
.header__logo-place {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: clamp(67px, 35%, 172px);
  margin: 0;
}
@media screen and (max-width: 750px) {
  .header__logo-place {
    align-self: center;
  }
}
.header__navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
@media screen and (max-width: 750px) {
  .header__navigation {
    margin: 0;
    flex-direction: column;
    row-gap: 5px;
    text-align: right;
  }
}
.header__li {
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.header__li:hover {
  opacity: 0.7;
}

.advantages {
  box-shadow: inset 0px 0px 280px 0px rgba(175, 161, 249, 0.3);
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 55px 0 25px;
  color: var(--color-white);
}
.advantages__container {
  display: block;
  text-align: center;
  width: 76.11%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.advantages__li {
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
  padding: 25px 50px;
  margin-bottom: 30px;
  border: 2px solid var(--color-white);
  border-radius: 100px;
}
.advantages__li:not(:nth-child(3n)) {
  margin-right: 20px;
}
.advantages__li:first-child {
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}
@media screen and (max-width: 520px) {
  .advantages__li {
    font-size: 2.7vw;
    padding: 13.5px 25px;
  }
}

.article {
  width: 100%;
  margin: 0 80px 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.article__info-container {
  display: block;
  width: 95%;
  max-width: 522px;
  height: -moz-min-content;
  height: min-content;
}
.article__images-container {
  position: relative;
}
.article__title {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 34px;
  width: 100%;
}
.article__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  margin: 0 0 43px;
}
.article__button {
  height: 50px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 230px;
}
.article__button:hover {
  opacity: 0.85;
}
.article__light-button {
  background-color: var(--color-white);
  color: var(--color-purple);
  outline: var(--color-purple) 1px solid;
  width: 185px;
}
.article__dark-button {
  background-color: var(--color-purple);
  color: var(--color-white);
  margin-right: 20px;
  width: 185px;
}
.article:nth-child(even) {
  flex-direction: row-reverse;
}
.article:nth-child(1) .article__images-container {
  width: 575px;
  height: 442px;
  margin-right: 30px;
}
.article:nth-child(1) .article__img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: -11px;
  left: 0;
}
.article:nth-child(1) .article__img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 249px;
  height: 436px;
  top: auto;
  bottom: -35px;
  right: -40px;
}
.article:nth-child(2) .article__images-container {
  width: 616px;
  height: 400px;
}
.article:nth-child(2) .article__img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  top: -90px;
  left: -40px;
}
.article:nth-child(2) .article__img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 480px;
  height: 344px;
  top: 45px;
  right: -20px;
}
.article:nth-child(2) .article__img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: auto;
  bottom: 10px;
  left: -50px;
}
.article:nth-child(3) .article__images-container {
  width: 537px;
  height: 548px;
  margin-right: 21px;
}
.article:nth-child(3) .article__img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 70px;
  top: 107px;
  left: -29px;
  z-index: -1;
}
.article:nth-child(3) .article__img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
  height: 410px;
  top: auto;
  bottom: 0;
  left: 0;
}
.article:nth-child(3) .article__img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 245px;
  height: 464.52px;
  top: -79px;
  background-image: url(../images/background/group-4.1.png);
  right: -20px;
}
@media screen and (max-width: 1330px) {
  .article {
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    row-gap: 40px;
  }
  .article:nth-child(even) {
    flex-direction: column;
  }
  .article__info-container {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .article__title, .article__text, .article__tip {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .article {
    row-gap: 0;
    width: 98%;
    justify-content: center;
    align-items: center;
  }
  .article__info-container {
    margin-top: -50px;
  }
  .article__images-container {
    transform: scale(0.65);
  }
  .article__title {
    font-size: 4.5vw;
    line-height: 5vw;
    margin-bottom: 10px;
  }
  .article__text {
    width: 85%;
    margin: 20px auto 35px;
    font-size: 3vw;
    line-height: 3.3vw;
  }
}
@media screen and (max-width: 410px) {
  .article__images-container {
    transform: scale(0.6);
  }
}

.second-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.second-block__light-background {
  color: var(--color-black);
  padding: 181px 0 210px;
  position: relative;
}
.second-block__background-img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 836.6px;
  height: 600px;
  top: 0px;
  transform: rotate(30deg);
  border-radius: 50px;
  background: var(--color-backgroungImg);
  left: -220px;
}
.second-block__background-img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 316px;
  height: 316px;
  top: 401px;
  left: 1px;
}
.second-block__background-img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 639.89px;
  height: 600px;
  top: 610px;
  transform: rotate(30deg);
  border-radius: 50px;
  background: var(--color-backgroungImg);
  right: -170px;
}
.second-block__background-img:nth-child(4) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 184px;
  height: 184px;
  top: 794px;
  right: 154px;
}
.second-block__background-img:nth-child(5) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1038px;
  height: 1038px;
  top: auto;
  left: -260px;
  bottom: 25px;
}
.second-block__articles {
  display: flex;
  flex-direction: column;
  row-gap: 307px;
  max-width: 1440px;
  margin: 0 auto;
}
.second-block__dark-background {
  color: var(--color-white);
  background: linear-gradient(29.68deg, rgb(85, 64, 191) 35.529%, rgb(175, 161, 249) 99.59%);
  height: -moz-min-content;
  height: min-content;
  display: flex;
  position: relative;
}
.second-block__container {
  width: clamp(500px, 95%, 1440px);
  margin: 0 auto;
  padding: 101px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.second-block__images-container {
  position: relative;
  width: 588px;
  height: 298px;
  margin-right: 50px;
}
.second-block__img:nth-child(1) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 86px;
  height: 102px;
  top: auto;
  z-index: 1;
  bottom: -34.74px;
  left: -51px;
}
.second-block__img:nth-child(2) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 588px;
  height: 455.26px;
  top: auto;
  bottom: 0;
  z-index: 1;
  right: 0;
  box-shadow: 0px 0px 20px 0px rgba(85, 64, 191, 0.2);
}
.second-block__img:nth-child(3) {
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  width: 152px;
  height: 152px;
  top: -199px;
  right: -66px;
}
.second-block__info-container {
  display: block;
  min-width: 512px;
  height: -moz-min-content;
  height: min-content;
  margin-left: 72px;
}
.second-block__title {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 34px;
}
.second-block__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  max-width: 522px;
  margin: 0 0 43px;
}
.second-block__button {
  height: 50px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: var(--font-Montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background-color: var(--color-white);
  color: var(--color-purple);
  outline: var(--color-purple) 1px solid;
  width: 185px;
}
.second-block__button:hover {
  opacity: 0.85;
}
@media screen and (max-width: 1330px) {
  .second-block__articles {
    row-gap: 250px;
    margin: 0 0 50px;
  }
  .second-block__container {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
  }
  .second-block__images-container, .second-block__info-container {
    margin: 0;
  }
  .second-block__text {
    text-align: center;
  }
  .second-block__background-img:nth-child(1) {
    left: -300px;
    top: 100px;
  }
  .second-block__background-img:nth-child(2) {
    top: 601px;
  }
  .second-block__background-img:nth-child(3) {
    top: 1300px;
  }
  .second-block__background-img:nth-child(4) {
    top: 1500px;
  }
  .second-block__background-img:nth-child(5) {
    bottom: 225px;
  }
}
@media screen and (max-width: 750px) {
  .second-block__light-background {
    padding: 90px 0 110px;
  }
  .second-block__articles {
    row-gap: 180px;
  }
  .second-block__background-img:nth-child(1) {
    left: -450px;
    top: 0;
  }
  .second-block__background-img:nth-child(2) {
    transform: scale(0.6);
    top: 551px;
  }
  .second-block__background-img:nth-child(3) {
    transform: scale(0.8) rotate(30deg);
    right: -400px;
    top: 800px;
  }
  .second-block__background-img:nth-child(4) {
    top: 1700px;
  }
  .second-block__background-img:nth-child(5) {
    transform: scale(0.8);
    bottom: 125px;
    left: -450px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 175px auto;
  grid-template-rows: repeat(2, min-content);
  row-gap: 26px;
  -moz-column-gap: 150px;
       column-gap: 150px;
  width: 76.11%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 69px 0 53px;
}
.footer__logo-place {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  grid-row: 1/-1;
  color: var(--color-purple);
  align-self: center;
  margin: 17px 0 auto 0;
}
.footer__container {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
  padding: 0;
}
.footer__logo {
  width: auto;
  height: auto;
  margin-left: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.footer__logo:hover {
  opacity: 0.7;
}
.footer__logo:first-child {
  margin-left: 0;
}
.footer__text {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-purple);
  grid-column: 2;
  width: clamp(150px, 100%, 415px);
  text-align: right;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 750px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    row-gap: 15px;
  }
  .footer__logo-place, .footer__container, .footer__text {
    margin: 0;
    align-self: self-start;
    text-align: left;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__logo-place {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=styles.css.map */