.second-block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;

    &__light-background {
        color: var(--color-black);
        display: flex;
        flex-direction: column;
        row-gap: 307px;
        padding: 181px 0 369px;
        position: relative;

        .second-block__background-img {
            &:nth-child(1) {
                @include bgImg(836.6px, 600px, 0px);
                transform: rotate(30.00deg);
                border-radius: 50px;
                background: var(--color-backgroungImg);
                left: -220px;
            }

            &:nth-child(2) {
                @include bgImg(316px, 316px, 401px);
                left: 1px;
            }

            &:nth-child(3) {
                @include bgImg(639.89px, 600px, 610px);
                transform: rotate(30.00deg);
                border-radius: 50px;
                background: var(--color-backgroungImg);
                right: -170px;
            }

            &:nth-child(4) {
                @include bgImg(184px, 184px, 734px);
                right: 124px;
            }

            &:nth-child(5) {
                @include bgImg(86px, 70px, auto);
                bottom: 918px;
                left: 677px;
            }

            &:nth-child(6) {
                @include bgImg(1138px, 1138px, auto);
                left: -428px;
                bottom: -144px;
            }

            &:nth-child(7) {
                @include bgImg(86px, 70px, auto);
                left: 90px;
                bottom: 573px;
            }

            &:nth-child(8) {
                @include bgImg(152px, 152px, auto);
                bottom: -54px;
                right: 56px;
            }

            &:nth-child(9) {
                @include bgImg(max-content, max-content, 150px);
                left: 62px;
            }

            &:nth-child(10) {
                @include bgImg(249px, 436px, 200.56px);
                left: 428px;
            }

            &:nth-child(11) {
                @include bgImg(max-content, max-content, 780px);
                right: 135px;
            }

            &:nth-child(12) {
                @include bgImg(480px, 344px, 910px);
                right: 60px;
            }

            &:nth-child(13) {
                @include bgImg(410px, 410px, 1560px);
                left: 120px;
            }

            &:nth-child(14) {
                background-image: url(../images/background/group-4.1.png);
                @include bgImg(245px, 464.52px, 1432px);
                left: 400px;
            }
        }
    }

    &__dark-background {
        color: var(--color-white);
        background: linear-gradient(29.68deg, rgb(85, 64, 191) 35.529%, rgb(175, 161, 249) 99.59%);
        height: 500px;
        display: flex;
        align-items: center;
        position: relative;

        .article {
            margin: 0 auto 0 172px;
        }

        .second-block__background-img {
            &:nth-child(1) {
                @include bgImg(86px, 102px, auto);
                z-index: 1;
                bottom: 52px;
                right: 675px;
            }

            &:nth-child(2) {
                @include bgImg(588px, 455.26px, -42px);
                z-index: 1;
                right: 122px;
                box-shadow: 0px 0px 20px 0px rgba(85, 64, 191, 0.2);
            }
        }
    }

}